.best{
  width: 100%;
  height: 100vh;
  min-height: rem(650px);
  background: url("../img/best/best-bg.png")  no-repeat;
  background-size: cover;
}
.best__header{
  margin-top: rem(90px);
}
.title-dark{
  color: $dark;
}
.content{
  width:100%;
  display: flex;
  flex-direction: row;
  //margin-left: rem(34px);
  margin-right: 3.62%;
  margin-top: rem(86px);
  margin-bottom: rem(90px);
}
.content__box{
  min-height: rem(255px);
  //margin-right: rem(36px);
  margin-right: 3.83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  max-width: rem(286px);
  @include tablets{
    margin-right: -4px;
    margin-left: 24px;
    max-width:rem(230px);
    &:first-child{
      margin-left: 0;
    }
  }
  &:last-child{
    margin-right: 0;
  }

}
.content__img{
  text-align: center;
  width: rem(97px);
  height: rem(89px);
  &-first{
    background: url("../img/best/meat.svg") center center no-repeat;
  }
  &-second{
    background: url("../img/best/hand.svg") center center no-repeat;
  }
  &-third{
    background: url("../img/best/natural.svg") center center no-repeat;
  }
}
.content__title{
  margin-top: rem(28px);
  text-align: center;
  color: $dark;
  font-family: Lifehack;
  font-size: rem(24px);
  font-weight: 500;
  letter-spacing: rem(-0.6px);
}
.content__text{
  width: 100%;
  max-width: rem(286px);
  margin-top: rem(12px);
  color: $dark;
  text-align: center;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  @include tablets{
    max-width:rem(230px);
  }
}
