.comment{
  display: flex;
  flex-wrap: wrap;
}
.comment__post{
  overflow: hidden;
  width: 25%;
  min-height: 50%;
  position: relative;
  &:hover .comment__name{
    transform: scale(1);
    transition: opacity, transform .5s;
    opacity: 0.95;
    left: 10%;
  }
  &:hover .comment__description {
    transform: scale(1);
    transition: opacity, transform .5s;
    opacity: 0.95;
    left: 10%;
  }
  @include tablets{
    min-height: initial;
    width: 50%;
    height: 25%;
  }
}
.comment__img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:grayscale(1);
}
.comment__info{
  @include tablets{
    position: absolute;
    display:  flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    flex-direction: column;
  }
}
.comment__name{
  opacity: 0;
  transform: scale(0);
  width: rem(222px);
  position: absolute;
  top: 15%;
  left: rem(-9999px);
  color: $white;
  font-family: Gagalin;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28px);
  @include tablets{
    position: static;
    width: 80%;
    top: 5%;
    text-align: center;
    max-width: 276px;
  }
  @include phones{
    margin-bottom: 15px;
    font-size: 1.25rem;
  }
}
.comment__description{
  transform: scale(0);
  position: absolute;
  opacity: 0;
  max-width: rem(222px);
  width: 80%;
  top: 30%;
  left: rem(-9999px);
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  @include tablets{
    width: 100%;
    padding:0 2%;
    position: static;
    text-align: center;
    max-width: 276px;
  }
}
.comment__text{
  @include phones{
    display: none;
  }
}
.comment__post:hover .comment__bg-dark{
  transition: background-color .5s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50vh;
  min-height: rem(325px);
}
.comment__button{
  cursor: pointer;
  margin-top: 5% ;
  width: rem(113px);
  height: rem(38px);
  background-color: $dark;
  transition: background-color .5s;
  color: $white;
  font-size: rem(13px);
  font-weight: 500;
  line-height: rem(30px);
  text-transform: uppercase;
  border-radius: rem(5px);
  border: rem(1px) solid $dark;
  &:hover {
    background-color: darken($dark, 10%);
  }
  @include tablets{
    margin-top: 5% ;
  }
  @include phones{
    margin-top: 0;
  }
}
.comment__modal{
  transform: scale(0);
  transition: opacity, transform .5s;
  display: none;
  z-index: 4;
  background-color: $dark;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
}
.comment__modal--active{
  display: block;
  transform: scale(1);
  opacity: 0.9;
}

.comment__comment-block{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:96%;
  max-width: 459px;
  min-height: 254px;
  background-color: #ffffff;
  border-radius: 6px;
}
.comment__info-title{
  width: 139px;
  height: 10px;
  color: #2f3234;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px;
  margin-top:  29px;
  margin-left: 18px;
  margin-bottom: 29px;
}
.comment__info-text{
  margin-left: 18px;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.comment__close{
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 21px;
  background: url("../img/burgers/close.svg") center center no-repeat;
}