.header{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%,0);
}
.navigation{
  padding-top: 12px;
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}
.navigation__block{
  margin-left:auto;
  margin-right: 15px;
}
.navigation__list{
  color: $white;
  margin-top: 22px;
  display: flex;
  list-style-type:disc;
}
.navigation__elem{
  list-style-type:none;
  &:after{
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: $white;
  }
  &:last-child:after{
    display: none;
  }
}
.navigation__link{
  display: inline-block;
  color: $white;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__button{
  margin-top: 22px;
}