.header{
  max-width: 945px;
  width: 95%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%,0);
}
.navigation{
  padding-top: rem(12px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}
.navigation__block{
  margin-left:auto;
  margin-right: rem(15px);
}
.navigation__list{
  color: $white;
  margin-top: rem(22px);
  display: flex;
  list-style-type:disc;
}
.navigation__elem{
  list-style-type:none;
  &:after{
    margin: 0 rem(15px);
    display: inline-block;
    vertical-align: middle;
    content: '';
    border-radius: 50%;
    width: rem(5px);
    height: rem(5px);
    background: $white;
  }
  &:last-child:after{
    display: none;
  }
  @include tablets{
    display: none;
  }
}
.navigation__link{
  display: inline-block;
  color: $white;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__button{
  margin-top: rem(22px);
  @include tablets{
    margin-right: 30px;
  }
}
.navigation__short-href{
  display: none;
  margin-top: 22px;
  margin-right: 2px;
  align-items: center;
  height: 23px;
  position: relative;
  @include tablets{
    display: flex;
  }
}
.navigation__short-menu{
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 6px;
  &:after{
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  &:before{
    top: 0;
    position: absolute;
    display: block;
    content: '';
    width: 24px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 6px;
  }
}