.section-map{
  position: relative;
}
.map{
  background: url("../img/map/map-bg.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}
.footer{
  position: absolute;
  background: url("../img/map/footer-bg.jpg");
  height: rem(60px);
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__container{
  max-width: rem(965px);
  width: 94%;
  margin:0 auto;
  display: flex;
  height: 100%;
}
.footer__col{
  width: 50%;
  height: 100%;
}
.footer__address {
  padding-top: rem(4px);
  color: $white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
}
.footer__tel{
  font-size: rem(14px);
  margin-top: rem(4px);
  text-align: left;
  font-weight: 700;
}
.footer__svg-tel{
  margin-right: rem(5px);
  width: rem(12px);
  height: rem(11px);
  fill: $orange;
}
.footer__tel-href{
  color: $orange;
  text-decoration: none;
}
.footer__right{
  text-align: right;
  height: 100%;
  width: 100%;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.footer__icons{
  vertical-align: middle;
  list-style-type: none;
  display: inline-block;
  font-size: 0;
  margin-right: rem(25px);
  @include tablets{
    margin-right: 31px;
  }
}
.footer__icon{
  font-size: rem(16px);
  margin-left: rem(19px);
  display: inline-block;
}
.footer__svg{
  fill: #5d5d5d;
  width: rem(20px);
  height: rem(20px);
  transition: fill .4s;
  &:hover{
    fill: $white;
  }
}

