.order{
  background: url("../img/order/order-bg.jpg") center center no-repeat;
  background-size: cover;
}
.form__content{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10%;
  //margin-top: 11.2%;
  //margin-top: rem(79px);
  @include tablets{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.form__block{
  flex:1;
  &:last-child {
    margin-right: rem(-23px);
    @include tablets{
      margin-right: 0;
    }
  }
  @include tablets{
    margin-left: 18px;
    width: 69%;
  }
}
.form__row{
  display: flex;
  margin-bottom: rem(13px);
}
.form__label{
  margin-right: rem(20px);
  flex-grow: 1;
  &--radio{
    position: relative;
    flex-grow: 0;
    display: flex;
    align-items: center;
  }
  &--checkbox{
    position: relative;
    flex-grow: 0;
    display: flex;
    align-items: center;
    @include tablets{
      margin-top: 7px;
    }
  }
}
.form__title{
  color: $white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-bottom: rem(2px);
}
.form__input{
  width: 100%;
  height: rem(36px);
  border: rem(1px) solid #d1cfcb;
  background-color: $white;
  border-radius: rem(6px);
  &--comment{
    height: rem(108px);
    border: rem(1px) solid #d1cfcb;
    background-color: $white;
  }
  &--radio{
    position: absolute;
    left: rem(-99999px);
    top: 0;
    &:checked + .form__radio-styled:after{
      width: rem(10px);
      height: rem(10px);
      background-color: $orange;
    }
  }
  &--checkbox{
    position: absolute;
    left: rem(-99999px);
    top: 0;
    &:checked + .form__checkbox-styled:after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(11px);
      height: rem(9px);
      background: url("../img/order/current.svg");
    }
  }
}
.form__radio-styled{
  display: inline-block;
  margin-right: rem(8px);
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background-color: $white;
  background-image: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
}
.form__radio-styled:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
}
.form__checkbox-styled{
  display: inline-block;
  margin-right: rem(5px);
  position: relative;
  width: rem(16px);
  height: rem(16px);
  background-color: $white;
}
.form__buttons{
  margin-top: rem(5px);
  @include tablets{
    margin-top: 19px;
  }
}
.order-button{
  font-size: rem(13px);
  font-weight: 500;
  line-height: rem(30px);
  text-transform: uppercase;
  width: rem(98px);
  height: rem(36px);
  border-radius: rem(6px);
  border: 0;
  border-color: $orange;
  color: $white;
  background-color: $orange;
  transition: background 0.5s;
  &:hover{
    background-color: darken($orange, 10%);
  }
}
.order-clear{
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  border-radius: rem(6px);
  border: 0;
  background: transparent;
  width: rem(94px);
  height: rem(36px);
  color: $white;
  transition: color 0.5s;
  &:hover{
    color: gray;

  }
}