.section-team__container{
  background: url("../img/team/team-bg.png") center center no-repeat;
  position: relative;
  background-size: cover;
}
.team{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: rem(93px);
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-height: 100vh;
  background-color: $dark;
  opacity: 0.93;

}
.team__title{
  margin-top:rem(200px);
  width: rem(208px);
  color: $yellow;
  margin-bottom: rem(79px);
}
.team__accordion{
  display: flex;
  flex-direction: column ;
}
.team__member{
  margin-bottom: rem(40px);
}
.team__information{
  height: 0;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  &--active{
    height: inherit;
    overflow: visible;
  }
}
.team__img-member {
  object-fit: cover;
  border-radius: 50%;
  width: rem(103px);
  height: rem(100px);
}
.team__description{
  margin-left: rem(4px);
}
.team__name{
  align-self: flex-end;
  color: $white;
  font-family: Gagalin;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28px);
  margin-bottom: rem(11px);
  margin-left: rem(6px);
  &:before{
    margin-right: rem(10px);
    content: '';
    display: inline-block;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(7px) solid $yellow;
    vertical-align: middle;
  }
  &--active{
    color: $yellow;
  }
  &.team__name--active:before{
   transform: rotate(-180deg);
  }
}
.team__position{
  margin-top: rem(-5px);
  width: rem(208px);
  color: $white;
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 700;
  margin-left: rem(18px);
}
.team__work{
  margin-top: rem(11px);
  width: rem(208px);
  color: $white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-left: rem(18px);
}