.section-team__container{
  background: url("../img/team/team-bg.png") center center no-repeat;
  position: relative;
  background-size: cover;
}
.team{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 93px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-height: 100vh;
  background-color: $dark;
  opacity: 0.93;

}
.team__title{
  margin-top:200px;
  width: 208px;
  color: $yellow;
  margin-bottom: 79px;
}
.team__accordion{
  display: flex;
  flex-direction: column ;
}
.team__member{
  margin-bottom: 40px;
}
.team__information{
  height: 0;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  &--active{
    height: inherit;
    overflow: visible;
  }
}
.team__img-member {
  object-fit: cover;
  border-radius: 50%;
  width: 103px;
  height: 100px;
}
.team__description{
  margin-left: 4px;
}
.team__name{
  align-self: flex-end;
  color: $white;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 11px;
  margin-left: 6px;
  &:before{
    margin-right: 10px;
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid $yellow;
    vertical-align: middle;
  }
  &--active{
    color: $yellow;
  }
  &.team__name--active:before{
   transform: rotate(-180deg);
  }
}
.team__position{
  margin-top: -5px;
  width: 208px;
  color: $white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 18px;
}
.team__work{
  margin-top: 11px;
  width: 208px;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 18px;
}