.section-team__container{
  background: url("../img/team/team-bg.png") center center no-repeat;
  position: relative;
  background-size: cover;
}
.team{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //padding-left: rem(93px);
  padding-left: 4.9%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  min-height: 100vh;
  background-color: $dark;
  opacity: 0.93;
  @include tablets{
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0;
  }
}
.team__title{
  margin-top: 15%;
  //margin-top:rem(200px);
  margin-left: rem(7px);
  text-align: left;
  color: $yellow;
  margin-bottom: rem(79px);
  flex-direction: column ;
  @include tablets{
    text-align: center;
    width: 100%;
    margin-left: 0;
    //margin-top: 114px;
    //margin-bottom: 128px;
    //margin-top: 12.4%;
    //margin-bottom: 13.4%;
    margin-top: 9%;
    margin-bottom: 9%;

  }
  @include phones{
    margin-top: 20%;
  }
}
.team__accordion{
  display: flex;
  flex-direction: column ;
  @include tablets{
    align-items: center;
  }
}
.team__member{
  margin-bottom: rem(10px);
  cursor: pointer;
  @include tablets{
    text-align: center;
  }
  @include tablets{
    margin-bottom: 20px;
  }
}
.team__information{
  cursor: initial;
  height: 0;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  transition: .5s;
  &--active{
    height: 0;
    overflow: visible;
    margin-bottom: rem(30px);
  }
  @include tablets{
    flex-direction: column;
  }
}
.team__img{
  margin-left: rem(23px);
  @include tablets{
    margin-left:0;
    margin-top: 4px;
    margin-bottom: 14px;
  }
}
.team__img-member {
  object-fit: cover;
  border-radius: 50%;
  width: rem(103px);
  height: rem(100px);
}
.team__description{
  margin-left: rem(4px);
  width: 100%;
  @include tablets{
    margin-left: 0;
  }
}
.team__name{
  align-self: flex-end;
  color: $white;
  font-family: Gagalin;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28px);
  margin-bottom: rem(11px);
  margin-left: rem(6px);
  &:before{
    margin-right: rem(10px);
    content: '';
    display: inline-block;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(7px) solid $yellow;
    vertical-align: middle;
  }
  &--active{
    color: $yellow;
  }
  &.team__name--active:before{
    /*
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(7px) solid $yellow;
    border-top: rem(7px) solid transparent;
    */
   transform: rotate(-180deg);
  }
  @include tablets{
    font-size: rem(24px);
    margin-left: 0;
    margin-bottom: 11px;
  }
}
.team__position{
  margin-top: rem(-5px);
  width: rem(208px);
  color: $white;
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 700;
  margin-left: rem(15px);
  @include tablets{
    margin-left: 0;
    width: 100%;
  }
}
.team__work{
  margin-top: rem(10px);
  max-width: rem(208px);
  width: 90%;
  color: $white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-left: rem(15px);
  @include tablets{
    width: rem(336px);
    margin-left:0;
  }
}