.section-menu{
  background: url('../img/menu/menu-bg.png') center center no-repeat;
  background-size: cover;
}
.menu{
  display: flex;
  height:100vh;
  width: 100%;
  position: relative;
}
.menu__title{
  align-self: right;
  margin-left:rem(94px);
  margin-top: rem(112px);
  color: $white;
}
.menu__accordion{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: flex-end;
  @include phones{
    left: 0;
    justify-content: flex-end;
  }
}
.menu__elem{
  display: flex;
  list-style-type: none;
  position: relative;
  transition: .4s;
  @include phones{
    &--active{
      z-index: 2;
      position: absolute;
      left: 0;
    }
  }
  &--active{
    transition: .4s;
  }

}
.menu__description{
  height:100vh;
  width: rem(83px);
  min-height:rem(650px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
@each $menu in (meat,veg,diet){
  .menu__description--#{$menu}{
    background: url('../img/menu/#{$menu}.jpg') center center no-repeat;
    background-size: cover;
  }
}
.menu__elem-title{
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  color: $white;
  font-family: Gagalin;
  font-size: rem(40px);
  font-weight: 400;
}
.menu__elem-text{
  overflow: hidden;
  display:flex;
  background-color: #2f3234;
  color: $white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  opacity: 0;
  transition: .4s;
  &--active{
    background-color: $dark;
    opacity: 0.93;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
    padding:rem(63px) rem(38px) 0 rem(35px);
    transition: .7s;
    @include tablets{
      position: relative;
      padding:7.8% 5%  0 4.2%;
    }
    @include mini-phones{
      font-size: 13px;
      line-height: 16px;
    }
  }
  &--active .menu__text{
    opacity: 1;
    width: 100%;
  }
}
.menu__text{
  opacity: 0;
  transition: opacity 1s;
  transition-delay: .5s ;

}
.menu__close{
  display: none;
  @include phones{
    background: url(../img/menu/close.svg) center center no-repeat;
    display: block;
    position: absolute;
    top: 1.5%;
    right: 5%;
    z-index: 3;
  }
}

