.aside-menu{
  position: fixed;
  right: rem(54px);
  top: rem(97px);
  z-index: 2;
  @include tablets{
    right:2.375rem;
  }
  @include phones{
    right: rem(22px);
  }
  @include mini-phones{
    right: rem(14px);
  }
  @include iphoneHoriz{
    display: none;
  }
}
.aside-menu__nav{
  list-style-type:none;
}
.aside-menu__elem{
  list-style-type:none;
  margin-bottom: rem(15px);
}
.aside-menu__link{
  display: block;
  position: relative;
  height: rem(6px);
  width: rem(6px);
  background-color: $white;
  border-radius: 50%;
}
.aside-menu__link-current{
  &:after {
    display: block;
    content: '';
    width: rem(14px);
    height: rem(14px);
    border: rem(1px) solid $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
.aside-menu__link:hover{
  &:after {
    content: '';
    width: rem(14px);
    height: rem(14px);
    border: rem(1px) solid $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}