.section-team__container {
  background: url("../img/team/team-bg.png") center center no-repeat;
  position: relative;
  background-size: cover; }

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 93px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-height: 100vh;
  background-color: #2f3234;
  opacity: 0.93; }

.team__title {
  margin-top: 200px;
  width: 208px;
  color: #f9b43b;
  margin-bottom: 79px; }

.team__accordion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.team__member {
  margin-bottom: 40px; }

.team__information {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .team__information--active {
    height: inherit;
    overflow: visible; }

.team__img-member {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  width: 103px;
  height: 100px; }

.team__description {
  margin-left: 4px; }

.team__name {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 11px;
  margin-left: 6px; }
  .team__name:before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #f9b43b;
    vertical-align: middle; }
  .team__name--active {
    color: #f9b43b; }
  .team__name.team__name--active:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team__position {
  margin-top: -5px;
  width: 208px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 18px; }

.team__work {
  margin-top: 11px;
  width: 208px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 18px; }
